<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DenemeInstagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F48D05641EE5357700210F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48D05781EE5357800210F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48D05831EE5357800210F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
